html{
height: 100%;
}
#racks_table_wrapper{
font-family : Arial, sans-serif;
min-width: 60%;
padding: 25px;
border-radius: 5px;
float: left;
background-color: #EEEEEE;
}

#checkout_table_wrapper{
font-family : Arial, sans-serif;
min-width: 30%;
padding: 25px;
float: right;
background-color: #EEEEEE;
border-radius: 5px;
}

.table_windows{
margin-top:30px;
padding: 10px;
width: auto;
display: grid;
}

body{
margin: 0;
background-image: linear-gradient(to bottom right,  #00447C, #41B6E6);
}